
<ul class="nav nav-tabs mt-1">
  <li class="nav-item">
    <a class="nav-link disabled" href="/" tabindex="-1" aria-disabled="true">ДТП Юнтолово</a>
  </li>
  <li class="nav-item dropdown d-block d-sm-none">
      <a class="nav-link active dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
{% if page.url == "/" %}
Статистика
{% endif %}
{% if page.url contains "/20" %}
Карта
{% endif %}
{% if page.url == "/discussion/" %}
Обсуждение
{% endif %}
{% if page.url == "/about/" %}
О проекте
{% endif %}
          
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item
{% if page.url == "/" %}
active
{% endif %}
" href="/">Статистика</a>
        <a class="dropdown-item
{% if page.url contains "/20" %}
active
{% endif %}
" href="/2020/">Карта</a>
        <a class="dropdown-item
{% if page.url == "/discussion/" %}
active
{% endif %}
" href="/discussion/">Обсуждение</a>

        <a class="dropdown-item
{% if page.url == "/proposals/" %}
active
{% endif %}
" href="/proposals/">Предложения</a>

        <a class="dropdown-item
{% if page.url == "/about/" %}
active
{% endif %}
" href="/about/">О проекте</a>
      </div>
    </li>
  <li class="nav-item d-none d-sm-block">
    <a class="nav-link text-info
{% if page.url == "/" %}
active
{% endif %}
" href="/">Статистика</a>
  </li>
  <li class="nav-item d-none d-sm-block">
    <a class="nav-link  text-info
{% if page.url contains "/20" %}
active
{% endif %}
"
     href="/2020/">Карта</a>
  </li>
  <li class="nav-item d-none d-sm-block">
    <a class="nav-link text-info
{% if page.url == "/discussion/" %}
active
{% endif %}
" href="/discussion/">Обсуждение</a>
  </li>
  <li class="nav-item d-none d-sm-block">
    <a class="nav-link text-info
{% if page.url == "/proposals/" %}
active
{% endif %}
" href="/proposals/">Предложения</a>
  </li>
  <li class="nav-item d-none d-sm-block">
    <a class="nav-link text-info
{% if page.url == "/about/" %}
active
{% endif %}
" href="/about/">О проекте</a>
  </li>
</ul>