{% include top.html %}

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 link-secondary" href="/">Стастистика</a>
      <a class="p-2 link-secondary" href="/2020/">Карта</a>
      <a class="p-2 link-secondary" href="/budget/">Бюджет муниципалитета</a>
      <a class="p-2 link-secondary" href="https://t.me/untolovo_dtp">Обсуждение</a>
      <a class="p-2 link-secondary" href="/proposals/">Предложения</a>
      <a class="p-2 link-secondary" href="/regulatory/">Нормативные документы</a>
      <a class="p-2 link-secondary" href="http://dtp-stat.ru">Проект «🔴 Карта ДТП»</a>
    </nav>
  </div>
</div>

<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded" style="background-image: url(/map.png); background-position:center;">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic" style="font-size: 1.75rem;">ДТП на карте Юнтолово</h1>
      <p class="lead my-3">Места концентарции дорожно-транспортных происшествий с пострадавшими.</p>
      <p class="lead mb-0"><a href="/2020/" class="fw-bold" style="color: black">Перейти на карту...</a></p>
    </div>
  </div>

 

  <div class="row">
    <div class="col-md-8">

      <article class="blog-post">
{{ content }}          

      </article><!-- /.blog-post -->


    </div>

    <div class="col-md-4">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="fst-italic">Цели проекта</h4>
        <p class="mb-0"><ul>
      <li>показать места ДТП в муниципальном округе Юнтолово;</li>
      <li>заявить о важности проблемы дорожно-транспортного травматизма;</li>
      <li>определить эффективные способы сократить дорожно-транспортный травматизм;</li>
      <li>контролировать динамику.</li>
</ul></p>
      </div>

      <div class="p-4">
        <h4 class="fst-italic">Статьи</h4>
        <ol class="list-unstyled mb-0">
          <li class="p-1"><a href="/data/">Источник информации о ДТП</a></li>
          <li class="p-1"><a href="/regulatory/">Нормативные документы</a></li>
          <li class="p-1"><a href="/budget/">Бюджет МО Юнтолово, профилактика дорожно-транспортного травматизма</a></li>
        </ol>
      </div>

      <div class="p-4">
        <h4 class="fst-italic">Ссылки</h4>
        <ol class="list-unstyled">
          <li class="p-1">Показатели безопасности дорожного движения <br><a href="http://stat.gibdd.ru">stat.gibdd.ru</a></li>
          <li class="p-1">Муниципальное образование Юнтолово <br><a href="http://www.untolovo.org">untolovo.org</a></li>
          <li class="p-1">Проект «🔴 Карта ДТП» <br><a href="http://dtp-stat.ru">dtp-stat.ru</a></li>
        </ol>
      </div>
    </div>

  </div><!-- /.row -->

</main><!-- /.container -->

<footer class="blog-footer">
  <p>&copy; 2020—2021 <a href="https://t.me/raskumas">t.me/raskumas</a></p>

</footer>

{% include bottom.html %}